.container {
  background-color: white;
  border-radius: 10px;
  height: auto;
  margin-top: 35px;
  margin-bottom: 25px;
  padding: 30px 50px 30px 50px;
  /* box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19); */
}
