.wrapper {
  font-family: "Questrial", sans-serif;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -35px;
}

a {
  color: #4e4d4d;
}

a:focus {
  opacity: 50%;
}

.btn {
  background-color: #f8f2c4;
  color: black;
}

a:hover {
  opacity: 40%;
}

p {
  font-size: 13pt;
}

.bio-imgs {
  border-radius: 10px;
  float: left;
  height: 300px;
  width: auto;
  margin: 0px 15px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cat-imgs {
  border-radius: 10px;
  float: right;
  width: 300px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
