.wrapper {
  font-family: "Raleway", sans-serif;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(247, 244, 242);
  margin-top: -35px;
}

a {
  color: #807e7e;
}

a:hover {
  opacity: 0.5;
  color: rgb(55, 47, 168);
}

.btn {
  background-color: #f3ea96;
  color: black;
}

.btn:hover {
  background-color: rgb(184, 236, 229);
}

p {
  font-size: 13pt;
}

.bio-imgs {
  border-radius: 10px;
  float: left;
  height: 300px;
  width: auto;
  margin: 0px 15px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cat-imgs {
  border-radius: 10px;
  float: right;
  width: 300px;
  margin: 10px 0px 0px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 520px) {
  .cat-imgs {
    float: none;
    margin: 0px;
    margin-top: 10px;
    width: 250px;
  }
  .bio-imgs {
    width: 90%;
    height: 90%;
    float: none;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 10px;
  }
}

.technologies {
  text-emphasis: bold;
  color: rgb(204, 129, 191);
  animation-name: colorChange;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes colorChange {
  10% {
    color: rgb(204, 129, 191);
  }
  25% {
    color: goldenrod;
  }
  50% {
    color: rgb(74, 192, 196);
  }
  100% {
    color: rgb(194, 95, 189);
  }
}

.linkedinBadge {
  width: 250px;
}
