.jumbotron {
  background-image: url("../../images/ShelbyPalumbo.png");
  font-family: "Raleway", sans-serif;
  background-size:100% 100%;
  border-bottom: 5px solid rgb(133, 116, 19);
  text-decoration: bold;
  color: white;
  height:330px;
  width:100%; 
  filter: grayscale(100%);
  border-bottom: 8px dotted #444444;
}

@media only screen and (max-width: 1000px) {
  .jumbotron{
    height:250px;
  }
 }
@media only screen and (max-width: 720px) {
 .jumbotron{
   height:200px;
 }
}
@media only screen and (max-width: 550px) {
  .jumbotron{
    height:150px;
  }
 }
