.jumbotron {
  background-image: url("../../images/plantGreen.jpg");
  font-family: "Questrial", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border-bottom: 5px solid rgb(133, 116, 19);
  text-align: center;
  text-decoration: bold;
  color: white;
  padding-top: 100px;
  height: 300px;
}
