.position-sticky {
  /* background-color: rgb(252, 151, 140); */
  background-color: #444444;
  color:white;
  text-align: center;
  height: 80px;
  padding: 10px;
  border-top: 8px dotted #aaaaaa;
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-size: 14px;
}

.fivver {
  height: 30px;
  border-radius: 30px;
  margin: 10px;
  margin-bottom: 20px;
}
