.position-sticky {
    background-color: rgb(58, 63, 58);
    color: #cccccc;
    text-align: center;
    height: 70px;
    padding: 20px;
    border-top: 5px solid #f5e675;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
}