.coverpage {
  font-family: "Raleway", sans-serif;
  background: url("../../images/cover2.jpg") center;
  background-size: 500px;
  opacity: 0.8;
  background-repeat: no-repeat;
  height: 100vh;
  color: rgb(51, 53, 52);
  padding: 140px 0px 0px 80px;
  font-family: "Questrial", sans-serif;
}

@media only screen and (max-width: 850px) {
  .coverpage {
    height: 100vh;
    padding: 70px 0px 0px 30px;
    background-size: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .coverpage {
    height: 80vh;
    padding: 350px 0px 0px 30px;
    background-size: 300px;
  }
}

.text {
  width: 300px;
  height: 300px;
  position: relative;
  animation-name: fadeIn;
  animation-duration: 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.coverBtn {
  font-family: "Raleway", sans-serif;
  text-shadow: none;
  color: black;
  color: rgb(168, 146, 19);
  text-decoration: none;
  padding-top: 5px;
}

.coverBtn:hover {
  color: rgb(143, 60, 51);
}

@media only screen and (max-width: 800px) {
  .coverpageText {
    padding-top: 370px;
  }
}
