.coverpage {
  font-family: "Raleway", sans-serif;
  opacity: 0.8;
  color: white;
  padding:10%;
  font-family: "Questrial", sans-serif;
  background-color:black;
  height:100vh;

}
.text {
  padding:10%;
  float:left;
  position: relative;
  animation-name: fadeIn;
  animation-duration: 3s;
}

.bio-imgs {
  filter: grayscale(100%);
  border-radius: 50%;
  height: 350px;
  float:left;
  width: auto;
  border: 8px dotted #444444;
}

.coverBtn {
  font-family: "Raleway", sans-serif;
  text-shadow: none;
  color: black;
  color: rgb(72, 128, 82);
  text-decoration: none;
  padding-top: 5px;
}

.coverBtn:hover {
  color: rgb(196, 159, 58);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1150px) {
  
  .text{
    float:none;
  }

  .coverpage{
    padding-left:300px;
  }

  .bio-imgs{
    float:none;
  }
  
 }

 @media only screen and (max-width: 950px) {

  .coverpage{
    padding-left:200px;
 
 }}

 @media only screen and (max-width: 750px) {

  .coverpage{
    padding-left:100px;
  }

 }
 
 @media only screen and (max-width: 550px) {

  .coverpage{
    padding-left:50px;
  }

}

 @media only screen and (max-width: 450px) {
 
  .bio-imgs{
      height:200px;
    }
}

 @media only screen and (max-width: 260px) {
  .bio-imgs{
    height:150px;
  }
}







